.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 16px;
  font-weight: normal;
}
.container {
  max-width: 90%;
}
.article-container {
  max-width: 90%;
}
.universal-wrapper {
      width: 90%;
  max-width: none;
}
.project-card {
align-items: center;
justify-items: center;
text-align: left;
margin: auto;
}
.project-container {
align-items: center;
justify-items: center;
text-align: right;
margin: auto;
}
body {
text-align: justify;
}